[Desktop Entry]
Version=1.0.1
Type=Application
Name=Tubecatcher
Comment="youtube playlist downloader"
Exec=sudo source /opt/venvs/tubecatcher/bin/activate && tubecatcher
Icon=/usr/lib/tubecatcher/tubecatcher.png
Terminal=false
Categories=Network;
Name[en_US]=Tubecatcher
#sudo source /opt/venvs/tubecatcher/bin/activate && 
