[Desktop Entry]
Version=1.0.1
Type=Application
Name=Tubecatcher
Comment="youtube playlist downloader"
Exec=python3 /usr/bin/tubecatcher
Icon=/usr/lib/tubecatcher/tubecatcher.png
Terminal=false
Categories=Network;
Name[en_US]=Tubecatcher
