Source: tubecatcher
Version: 1.0.1
Section: python
Priority: extra
Maintainer: Ibrahim Khalil <onucsecu@gmail.com>
Build-Depends: python3, python3-pip
Standards-Version: 3.9.5
Package: tubecatcher
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python3, python3-pip
Description: Youtube video downloading tool
