#!/usr/bin/make -f

%:
	dh $@ --with python3 #-virtualenv --python /usr/local/bin/python3.8
# override_dh_auto_install:
# 	python setup.py install --install-layout=deb
# override_dh_auto_build:

# This is going to run the setup.py file to install the program as a Python script on the system, 
#it's also going to install the "myprogram" script under /usr/bin/ using the --install-scripts option, DON'T FORGET TO REPLACE "myprogram" WITH YOUR PROGRAM NAME. 
#