Source: tubecatcher
Section: python
Priority: extra
Maintainer: Ibrahim Khalil <onucsecu@gmail.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: tubecatcher
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Youtube video downloading tool
